{% extends 'master.html' %}

{% block page_title %}{{user.name}}{% endblock %}

{% block content %}
<h3 class="my-3">Change your personal information</h3>

        <div class="d-flex justify-content-center">
            <div class="card p-4 mb-4 rounded-4 w-75 bg-dark-subtle">
                <div class="row">
                    <div class="col-4 text-center">
                        <img {% load static %} src="{% static 'assets/default-profile.jpg' %}" alt=""
                            style="height: 200px; border: 1px solid black; border-radius: 50%" />
                    </div>
                    <div class="col-8">
                        <form action="{% url 'update_profile' id=user.id %}" method="post">
                            {% csrf_token %}

                            <label>Name</label>
                            {{form.name}}

                            <label>Email</label>
                            <input class="form-control" type="email" name="email" disabled value="{{user.email}}" >

                            <label>Phone</label>
                            {{form.phone}}

                            <label>Address</label>
                            {{form.address}}

                            <button type="submit" class="btn btn-outline-primary my-4 ">Update</button>
                        </form>

                        {% if form.errors %}
                            <div class="alert alert-danger">
                                <ul>
                                    {% for field in form %}
                                        {% for error in field.errors %}
                                            <li>{{ error}}</li>
                                        {% endfor %}
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
{% endblock %}