{% extends 'master.html' %}

{% block page_title %}MiH | Homepage{% endblock %}

{% block content %}
<div class="main-pane">
      <h1>Innvation of Myanmar</h1>

      <div class="project-types-pane slide my-4">
        <a href="#" class="project-type  btn">
          <div><i class="fa-solid fa-border-all"></i></div>
          All Projects
        </a>

        <a href="#" class="project-type btn">
          <div><i class="fa-solid fa-code"></i></div>
          Software
        </a>

        <a href="#" class="project-type btn">
          <div><i class="fa-solid fa-microchip"></i></div>
          Hardware
        </a>

        <a href="#" class="project-type btn">
          <div><i class="fa-solid fa-hexagon-nodes"></i></div>
          Ai
        </a>

        <a href="#" class="project-type btn">
          <div><i class="fa-solid fa-gear"></i></div>
          Others
        </a>
      </div>
<!--    <div class="project-type-wrapper mx-auto">-->
<!--      <div id="projectTypeCarousel" class="carousel slide my-4" data-bs-ride="carousel">-->
<!--      <div class="carousel-inner text-center">-->

<!--        &lt;!&ndash; Slide 1 &ndash;&gt;-->
<!--        <div class="carousel-item active">-->
<!--          <div class="d-flex justify-content-center gap-3 flex-wrap">-->
<!--            <a href="#" class="project-type btn">-->
<!--              <div><i class="fa-solid fa-border-all"></i></div>-->
<!--              All Projects-->
<!--            </a>-->

<!--            <a href="#" class="project-type btn">-->
<!--              <div><i class="fa-solid fa-code"></i></div>-->
<!--              Software-->
<!--            </a>-->

<!--            <a href="#" class="project-type btn">-->
<!--              <div><i class="fa-solid fa-microchip"></i></div>-->
<!--              Hardware-->
<!--            </a>-->
<!--          </div>-->
<!--        </div>-->

<!--        &lt;!&ndash; Slide 2 &ndash;&gt;-->
<!--        <div class="carousel-item">-->
<!--          <div class="d-flex justify-content-center gap-3 flex-wrap">-->
<!--            <a href="#" class="project-type btn">-->
<!--              <div><i class="fa-solid fa-hexagon-nodes"></i></div>-->
<!--              AI-->
<!--            </a>-->

<!--            <a href="#" class="project-type btn">-->
<!--              <div><i class="fa-solid fa-gear"></i></div>-->
<!--              Others-->
<!--            </a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    </div>-->

  <!-- Controls -->
<!--  <button class="carousel-control-prev" type="button" data-bs-target="#projectTypeCarousel" data-bs-slide="prev">-->
<!--    <span class="carousel-control-prev-icon"></span>-->
<!--  </button>-->

<!--  <button class="carousel-control-next" type="button" data-bs-target="#projectTypeCarousel" data-bs-slide="next">-->
<!--    <span class="carousel-control-next-icon"></span>-->
<!--  </button>-->
</div>


      <div class="form-pane my-1">
        <form action="" class="d-flex justify-content-center align-item-center">
          <div class="input-group mx-3">
            <input type="text" class="form-control"  placeholder="Search anything" />
            <div class="input-group-prepend">
              <a href="" class="input-group-text" id="inputGroup-sizing-default"><span ><i
                    class="fa-solid fa-magnifying-glass fs-6"></i></span></a>
            </div>
          </div>

          <select class="form-control mx-3" name="" id="">
            <option value="">Choose Platform</option>
            <option value="">Web</option>
            <option value="">Android</option>
            <option value="">iOS</option>
            <option value="">Desktop</option>
          </select>

          <select name="" id="" class="form-control mx-3">
            <option value="">Choose Technology</option>
            <option value="">Java</option>
            <option value="">Python</option>
            <option value="">C++</option>
            <option value="">PHP</option>
          </select>
        </form>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <div class="project-pane d-flex align-item-center justify-content-center my-1 ">
        <div class="project card mx-2 bg-primary-subtle p-1">
          <img {% load static %} src="{% static 'assets/Screenshot 2025-05-21 173919.png'%}" alt="" />
          <div class="p-2">
            <a href="" class="project-link">
              <h5>Signal Processor for Ultrasonic Waves</h5>
            </a>
            <div class="d-flex justify-content-between align-items-center">
              <span>Mc Arthur</span>
              <span>#arduino</span>
            </div>
          </div>
        </div>


        <div class="project card mx-2 bg-primary-subtle p-1">
          <img {% load static %} src="{% static 'assets/Screenshot 2025-05-21 173919.png'%}" alt="" />
          <div class="p-2">
            <a href="" class="project-link">
              <h5>Signal Processor for Ultrasonic Waves</h5>
            </a>
            <div class="d-flex justify-content-between align-items-center">
              <span>Mc Arthur</span>
              <span>#arduino</span>
            </div>
          </div>
        </div>

        <div class="project card mx-2 bg-primary-subtle p-1">
          <img {% load static %} src="{% static 'assets/Screenshot 2025-05-21 173919.png'%}" alt="" />
          <div class="p-2">
            <a href="" class="project-link">
              <h5>Signal Processor for Ultrasonic Waves</h5>
            </a>
            <div class="d-flex justify-content-between align-items-center">
              <span>Mc Arthur</span>
              <span>#arduino</span>
            </div>
          </div>
        </div>

        <div class="project card mx-2 bg-primary-subtle p-1">
          <img {% load static %} src="{% static 'assets/Screenshot 2025-05-21 173919.png'%}" alt="" />
          <div class="p-2">
            <a href="" class="project-link">
              <h5>Signal Processor for Ultrasonic Waves</h5>
            </a>
            <div class="d-flex justify-content-between align-items-center">
              <span>Mc Arthur</span>
              <span>#arduino</span>
            </div>
          </div>
        </div>

        <div class="project card mx-2 bg-primary-subtle p-1">
          <img {% load static %} src="{% static 'assets/Screenshot 2025-05-21 173919.png'%}" alt="" />
          <div class="p-2">
            <a href="" class="project-link">
              <h5>Signal Processor for Ultrasonic Waves</h5>
            </a>
            <div class="d-flex justify-content-between align-items-center">
              <span>Mc Arthur</span>
              <span>#arduino</span>
            </div>
          </div>
        </div>

        <div class="project card mx-2 bg-primary-subtle p-1">
          <img {% load static %} src="{% static 'assets/Screenshot 2025-05-21 173919.png'%}" alt="" />
          <div class="p-2">
            <a href="" class="project-link">
              <h5>Signal Processor for Ultrasonic Waves</h5>
            </a>
            <div class="d-flex justify-content-between align-items-center">
              <span>Mc Arthur</span>
              <span>#arduino</span>
            </div>
          </div>
        </div>

        <div class="project card mx-2 bg-primary-subtle p-1">
          <img {% load static %} src="{% static 'assets/Screenshot 2025-05-21 173919.png'%}" alt="" />
          <div class="p-2">
            <a href="" class="project-link">
              <h5>Signal Processor for Ultrasonic Waves</h5>
            </a>
            <div class="d-flex justify-content-between align-items-center">
              <span>Mc Arthur</span>
              <span>#arduino</span>
            </div>
          </div>
        </div>

        <div class="project card mx-2 bg-primary-subtle p-1">
          <img {% load static %} src="{% static 'assets/Screenshot 2025-05-21 173919.png'%}" alt="" />
          <div class="p-2">
            <a href="" class="project-link">
              <h5>Signal Processor for Ultrasonic Waves</h5>
            </a>
            <div class="d-flex justify-content-between align-items-center">
              <span>Mc Arthur</span>
              <span>#arduino</span>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}