* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #f9fbfd;
  color: #111;
  padding: 20px;
}


/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 16px;
  background: #E4F8FF;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo-img {
  width: 70px;
  height: 70px;
   border-radius: 50%;
}

nav a {
  margin: 0 16px;
  text-decoration: none;
  color: #111;
  font-size: 20px;
}

nav a:hover {
  color: #004AAD;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 16px;
}


.profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.form-container {
  text-align: center;
  padding: 60px 50px;
  margin-left: 300px;
  margin-right: 300px;
}

.form-container h1 {
  font-size: 42px;
  margin-bottom: 50px;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.form-group label {
  width: 120px;
  font-weight: bold;
  margin-right: 15px;
}

.form-group input[type="text"],
.form-group textarea {
  flex: 1;
  padding: 13px;
  font-size: 16px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.form-group textarea {
  height: 100px;
  resize: none;
}

.form-group input:focus, .form-group textarea:focus{
  border-color: #004AAD;
  outline: none;
}

input[type=number] {
  -moz-appearance: number-input;
  -webkit-appearance: number-input;
  appearance: number-input;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
  height: auto;
}

.upload-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed #ccc;
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
}

.upload-box:hover .image-upload-icon {
  opacity: 1;
}

.upload-label {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  font-weight: bold;
  color: #004AAD;
}

.image-upload-icon {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.upload-box label{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-box img {
  width: 100%;
  object-fit: cover;
}

.image-upload-icon:hover{
  opacity: 1;
}

.image-upload-icon .upload-icon{
  font-size: 32px;
  color: #004AAD;
  cursor: pointer;
  transform: translateY(20px);
  transition: transform 0.4s ease;
}

.upload-box:hover .upload-icon {
  transform: translateY(0);
}

.type-options {
  display: flex;
  gap: 40px;
  margin-left: 10px;
}

.nav-btn {
    background-color: #ffffff;
    color: #004AAD;
    border: 2px solid #004AAD;
    width: 140px;
    height: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-btn:hover {
    background-color: #004AAD;
    color: #ffffff;
}

.custom-dropdown {
  position: relative;
  width: 300px;
  padding: 13px;
}

.dropdown-header {
  border: 2px solid #004AAD;
  padding: 14px 20px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #004AAD;
  background: #fff;
  transition: all 0.3s ease;
}

.dropdown-header i {
  transition: transform 0.3s ease;
}

.custom-dropdown.active .dropdown-header i {
  transform: rotate(180deg);
}

.dropdown-list {
  position: absolute;
  top: 90%;
  left: 0;
  width: 100%;
  background: #fff;
  border: 2px solid #004AAD;
  border-radius: 0px 0px 10px 10px;
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  z-index: 100;
  box-shadow: 0 6px 12px rgba(0,0,0,0.1);
}

.dropdown-list li {
  padding: 14px 20px;
  cursor: pointer;
}

.dropdown-list li:hover {
  background: #E4F8FF;
  border-radius: 10px;
}

.custom-dropdown.active .dropdown-list {
  display: block;
}

.form-group #algorithm + .multi-select-tag, .form-group #components + .multi-select-tag {
    width: 85% !important;
}

/* Buttons */
.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
  padding: 0;
}

.btn-create, .btn-cancel, .btn-update {
  width: 250px;
  padding: 12px;
  font-size: 20px;
  border-radius: 20px;
}

.btn-create {
  background-color:#004AAD;
  color: #ffffff;
  border: none;
}

.btn-update {
  background-color:#004AAD;
  color: #ffffff;
  border: none;
}

.btn-cancel {
  background-color: #ffffff;
  color: #004AAD;
  border: 2px solid #004AAD;
}

.btn-create:hover {
  background-color: #003080;
  color: #ffffff;
}

.btn-cancel:hover {
  background-color: #aeaeae;
  color: #111;
}

.btn-update:hover{
  background-color: #003080;
  color: #ffffff;
}


/* Modal Background */
.modal {
  display: none;
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #ffffff;
  border-radius: 16px;
  padding: 40px 30px;
  text-align: center;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.modal-icon {
  width: 80px;
  height: 80px;
}

.modal-title {
  font-weight: bold;
  color: #28a745;
  font-size: 24px;
  margin: 0;
}

.modal-text {
  font-size: 14px;
  color: #6c757d;
  margin: 0;
}

#modalBackBtn {
  margin-top: 12px;
  width: 100%;
  padding: 10px 0;
  border: none;
  border-radius: 20px;
  background-color: #004AAD;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

#modalBackBtn:hover {
  background-color: #003080;
}