* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
    scroll-behavior: smooth;
}

body {
    background: #f9fbfd;
    color: #111;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 16px;
    background: #E4F8FF;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

nav a {
    margin: 0 16px;
    text-decoration: none;
    color: #111;
    font-size: 20px;
}

nav a:hover {
    color: #004AAD;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 16px;
}

.nav-btn {
    background-color: #004AAD;
    color: #ffffff;
    border: none;
    padding: 10px 22px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
}

.nav-btn:hover {
    background-color: #003080;
}


/* Change Password Form */
.container {
    width: 420px;
    background-color: #ffffff;
    border: 2px solid #004AAD;
    border-radius: 12px;
    padding: 32px;
    margin-top: 120px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}

h2 {
    text-align: center;
    color: #004AAD;
    margin-bottom: 10px;
}

.subtitle {
    text-align: center;
    font-size: 14px;
    color: #555;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 18px;
}

label {
    font-size: 17px;
    font-weight: 600;
    display: block;
    margin-bottom: 6px;
    color: #333;
}

.password-box {
    position: relative;
}

input {
    width: 100%;
    padding: 12px 40px 12px 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
}

input:focus {
    outline: none;
    border-color: #004AAD;
}

.eye {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 16px;
    color: #666;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
    padding: 0;
}


.btn-change, .btn-cancel {
    width: 250px;
    padding: 12px;
    font-size: 16px;
    border-radius: 20px;
}

.btn-change {
    background-color: #004AAD;
    color: #ffffff;
    border: none;
}

.btn-cancel {
    background-color: #ffffff;
    color: #1e5bff;
    border: 2px solid #004AAD;
}

.btn-change:hover {
    background-color: #003080;
    color: #ffffff;
}

.btn-cancel:hover {
    background-color: #aeaeae;
    color: #111;
}

/* Modal Background */
.modal {
    display: none;
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #ffffff;
    border-radius: 16px;
    padding: 40px 30px;
    text-align: center;
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.modal-icon {
    width: 80px;
    height: 80px;
}


.modal-title {
    font-weight: bold;
    color: #28a745;
    font-size: 24px;
    margin: 0;
}

.modal-text {
    font-size: 14px;
    color: #6c757d;
    margin: 0;
}

#modalBackBtn {
    margin-top: 12px;
    width: 100%;
    padding: 10px 0;
    border: none;
    border-radius: 20px;
    background-color: #004AAD;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

#modalBackBtn:hover {
    background-color: #003080;
}


/* Edite Profile Page */
.edit-wrapper {
    margin: 0 auto;
    padding: 40px 150px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.profile-img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    display: block;
    margin: 120px auto 30px;
}

.edit-group input {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size: 16px;
}

.name-box, .email-box, .phone-box, .address-box {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px 8px;
    width: 550px;
    margin-bottom: 10px;
}

.name-box input, .email-box input, .phone-box input, .address-box input {
    padding: 12px 40px 12px 12px;
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 16px;
}