* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
  scroll-behavior: smooth;
}


body {
  background: #f9fbfd;
  color: #111;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 16px;
  background: #E4F8FF;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo-img {
  width: 70px;
  height: 70px;
   border-radius: 50%;
}

nav a {
  margin: 0 16px;
  text-decoration: none;
  color: #111;
  font-size: 20px;
}

nav a:hover {
  color: #004AAD;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.nav-btn {
  background-color: #004AAD;
  color: #ffffff;
  border: none;
  padding: 10px 18px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
}

.nav-btn:hover {
  background-color: #003080;
}

.h1 {
     text-align: center;
     font-size: 42px;
     margin-bottom: 30px;
     padding: 60px 20px;
}

.profile-card {
  background: #D0EBFF;
  border-radius: 10px;
  padding: 15px;
  gap: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}


.profile-img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.btn-logout {
    background-color: #ffffff;
    color: #004AAD;
    border: 2px solid #004AAD;
    width: 120px;
    border-radius: 20px;
}

.btn-logout:hover {
    background-color: #004AAD;
    color: #ffffff;
}

.profile-btn {
  background-color: #004AAD;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  padding: 10px 24px;
  font-size: 16px;
  font-weight: 500;
}

.profile-btn:hover {
  background-color: #003080;
  color: #ffffff;
}


.gap-4 {
  gap: 24px !important;
}

.col-md-4 {
    margin-right: 12px;
}

.details-card {
  background: #fff;
  border: 5px solid #D0EBFF;
  border-radius: 12px;
  padding: 16px 18px;
  margin-bottom: 20px;
  max-width: 480px;
  width: 100%;
}

.label {
  color: #111;
  font-size: 20px;
  margin-bottom: 4px;
}

.value {
  color: #111;
  font-size: 15px;
  word-break: break-word;
}

.projects {
  padding: 40px 40px 60px;
  background-color: #f9fbfd;
}

.section-title {
    font-size: 32px;
    font-weight: 700;
    color: #111;
    text-align: center;
    margin-bottom: 40px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 32px;
}

.card {
  background: #fff;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 30px 30px rgba(93, 93, 93, 0.10);
  text-align: left;
}

.tag {
  background: #9EDFF5;
  color: #111;
  width: fit-content;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 12px;
}

.card h3 {
  margin: 14px 0 10px;
  margin: 10px 0;
}

.card p {
  font-size: 14px;
  color: #555;
  margin-bottom: 16px;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
}