body {
    margin: 0;
    font-family: sans-serif;
  }

  .nav-bar {
    text-align: center;
    background-color: lightgray;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 16px;
  }

  .nav-item a {
    text-decoration: none;
    color: black;
    padding: 8px;
    margin-left: 8px;
    height: 100%;
    font-weight: bold;
    border-radius: 12px;
  }

  .nav-item a:hover {
    color: #08457c;
    text-emphasis: bold;
  }

  #name-pane {
    height: 100%;
    display: flex;
    font-size: small;
    color: #08457c;
  }

  #logo-img {
    height: 100%;
  }

  #name-box {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #create-btn {
    background-color: #08457c;
    color: white;
  }

  #create-btn:hover {
    background-color: #0e6cbe;
  }

  #profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .main-pane {
    text-align: center;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .project-type:hover {
    /* border-bottom: 2px solid black; */
    transition: all 0.5s;
    transform: scale(1.15);
  }

  .project-type i {
    font-size: x-large;
  }

  .fa-magnifying-glass {
    font-size: x-large;
  }

  .project {
    width: 300px;
    height: 260px;
    margin-top: 12px;
  }

  .project:hover {
    background-color: rgb(224, 224, 224);
  }

  .project img {
    width: 100%;
    height: 155px;
  }

  .project-link {
    text-decoration: none;
  }

  .project-pane {
    flex-wrap: wrap;
    width: 85%;
  }